.resultados-vuelos {
  font-family: "Poppins", sans-serif;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.resultados-vuelos h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.vuelos-contenedor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* filter: blur(8px); */
}

.vuelo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  border-color: 5px solid black;
  border-width: 10px;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.vuelo-detalles {
  display: flex;
  align-items: center;
  gap: 40px;
}

.vuelo-tiempo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tiempo {
  font-size: 24px;
  font-weight: bold;
}

.aeropuerto {
  font-size: 14px;
  color: #666;
}

.vuelo-duracion {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
}

.duracion-linea {
  width: 100px;
  height: 2px;
  background-color: #0077be;
  position: relative;
}

.duracion-linea::after {
  content: "✈️";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.duracion-texto {
  font-size: 12px;
  margin-top: 5px;
}

.vuelo-precio {
  font-size: 24px;
  font-weight: bold;
  color: #0077be;
}

.vuelo-imagen {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.imagen-vuelo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.botones-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: auto;
}

.botones-container button {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px; /* Ancho fijo para los botones */
}

.botones-container button:hover {
  background-color: #77008f;
}

.imagen {
  border: none;
  background-color: #a039d4;
  width: 200px;
}

.seleccion-de-equipaje,
.opciones-equipaje option {
  color: black;
}

.seleccion-de-equipaje,
.opciones-equipaje {
  width: 300px;
  margin-top: 10px;
}

.clase-silla,
.opciones-clase option {
  color: black;
}

.clase-silla,
.opciones-clase {
  width: 300px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #808080;
  color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.quantity-selector {
  width: 8%;
  white-space: nowrap;
  margin-right: 10px;
}
.quantity-display {
  width: 80%;
  margin-right: 10px;
  margin-left: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: black;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
